.title {
  color: white;
  margin-top: 15px;
  padding-left: 60px;
  margin-bottom: -10px;
  font-size: 1.5vw;
  color: rgb(238, 238, 238);
}

.container {
  color: white;
  position: relative;
  z-index: 3;
  display: block;
}

.moviesRow {
  color: white;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
  margin-left: 30px;
}

.moviesRow::-webkit-scrollbar {
  display: none;
}

.small {
  object-fit: contain;
  height: 150px;
  margin: 0 10px 0 10px;
  transition: 450ms;
  border-radius: 5px;
}

.small:hover {
  transform: scale(1.09);
  cursor: pointer;
}

.image {
  object-fit: contain;
  width: 167px;
  height: 250px;
  margin: 0 10px 0 10px;
  transition: 450ms;
  border-radius: 5px;
}

.image:hover {
  transform: scale(1.08);
  cursor: pointer;
}

.button {
  position: static;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 150px;
  z-index: 5;
  margin-top: -270px;
}

.right,
.left {
  width: 60px;
  font-family: "DM Sans", sans-serif;
  color: rgba(8, 8, 8, 0);
  font-size: 50px;
  background: none;
  border: none;
  border-radius: 5px;
}

.right:hover,
.left:hover {
  background: rgba(0, 0, 0, 0.205);
  color: white;
  cursor: pointer;
}
