.title {
  color: white;
  margin-top: 15px;
  padding-left: 20px;
}

.container {
  color: white;
}

.moviesRow {
  color: white;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.moviesRow::-webkit-scrollbar {
  display: none;
}

.image {
  object-fit: contain;
  width: 167px;
  height: 250px;
  margin: 0 10px 0 10px;
  transition: 450ms;
}

.image:hover {
  transform: scale(1.08);
}
