.banner {
  width: 100vw;
  min-width: 1400px;
  position: relative;
  z-index: 1;
}

.fade {
  height: 9em;
  width: 100%;
  min-width: 1400px;
  background: linear-gradient(
    rgba(17, 17, 17, 0.014),
    rgba(25, 25, 25, 0.323),
    rgba(25, 25, 25, 0.726),
    rgba(21, 21, 21),
    rgba(21, 21, 21),
    rgb(19, 19, 19),
    rgb(17, 17, 17)
  );
  position: absolute;
  z-index: 3;
  bottom: 0;
}

/* img and bottom fade */
.imgFade {
  position: absolute;
  display: flex;
  align-items: column;
  top: 0;
  z-index: 1;
}

/* entire HTML/JSX */
.container {
  width: 100%;
  min-width: 1400px;
  height: 500px;
}

/* container for pagetitle, .header, & .buttons */
.infoContainer {
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
  width: 800px;
  margin-left: 60px;
  margin-top: 200px;
  padding: 20px;
}

/* container for trailer title & overview */
.header {
  margin-bottom: 20px;
}

/* trailer title */
.title {
  color: white;
  font-family: "Bebas Neue", cursive;
  font-weight: lighter;
  font-size: 100px;
  min-width: 900px;
}

.overview {
  color: white;
  font-size: 23px;
  font-weight: bolder;
}

.buttons {
  margin-top: 10px;
  margin-bottom: 50px;
}

.button {
  margin-right: 14px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 25px;
  font-family: "DM Sans", sans-serif;
  font-weight: bolder;
  position: static;
}

.button:hover {
  cursor: pointer;
  background-color: rgba(201, 201, 201, 0.808);
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.342);
  top: 0;
  z-index: 2;
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.342);
}
