.layout {
  height: 100%;
  width: 100vw;
  background-color: rgb(7, 7, 7);
}

.main {
  font-family: "DM Sans", sans-serif;
  padding-top: 100px;
  width: 100vw;
  background-color: rgb(17, 17, 17);
}
