.header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  margin-left: 200px;
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-size: 13.5px;
  height: 80px;
  font-weight: bold;
}

li {
  color: white;
  margin-top: 8px;
  margin-right: 18px;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: rgb(202, 200, 200);
}

a:focus {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.logo {
  width: 135px;
  height: 25px;
  position: fixed;
  margin-left: 10px;
  margin-top: 24px;
}
/* add some background color here */
.container {
  display: flex;
  height: 67px;
  position: fixed;
  width: 100vw;
}

.right {
  margin-left: auto;
  align-items: space-between;
  font-family: "Open Sans", sans-serif;
  font-size: 13.5px;
  font-weight: bold;
  color: rgb(202, 200, 200);
  margin-top: 25px;
  margin-right: 30px;
}

/*CHANGE THIS LATER WHEN ADD COMPONENTS */
span {
  margin-left: 18px;
}
